<aside id = "ad">
  <a href="https://www.ozon.ru/?__rr=1"><img src="/photos/b6bf7187-66ae-11ef-b8e1-ca138101a6f2.webp" alt="Реклама" style="display: block; margin: auto ; width: 600px; height: 100px;"></a>
</aside>