{{#if isAuthenticated}}
    <div class="auth-logged-in">
        <span>Вы вошли как <strong>{{username}}</strong></span>
        <a href="/?logout=true" class="btn btn-outline">Выйти</a>
    </div>
{{else}}
    <div class="auth-not-logged">
        <a href="/form" class="btn btn-primary">Войти</a>
        <a href="/form" class="btn btn-outline">Регистрация</a>
    </div>
{{/if}} 