<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="/images/logo.png" alt="Два Холма">
                <h3>Два Холма</h3>
            </div>
            <div class="footer-links">
                <h4>Навигация</h4>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/animals">Экзотические животные</a></li>
                    <li><a href="/services">Услуги</a></li>
                    <li><a href="/about">О нас</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h4>Свяжитесь с нами</h4>
                <p><i class="fa fa-map-marker"></i> ул. Экзотическая, 123, Москва</p>
                <p><i class="fa fa-phone"></i> +7 (123) 456-7890</p>
                <p><i class="fa fa-envelope"></i> info@dvaholma.ru</p>
            </div>
            <div class="footer-social">
                <h4>Мы в соцсетях</h4>
                <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Два Холма. Все права защищены.</p>
        </div>
    </div>
</footer> 