<footer class="footer">
  <p>&copy; 2024 Магазин "Лапочка". Все права защищены.</p>
<!--
  <p class="timing">Время обработки на сервере: {{elapsedTime}}</p>
  <p class="timing">Время загрузки на клиенте: <span id="client-time"></span></p>

  <script>
    const start = performance.now();
    window.addEventListener('load', () => {
      const end = performance.now();
      document.getElementById('client-time').textContent = Math.round(end - start) + 'мс (клиент)';
    });
  </script>-->
</footer>