<header class="site-header">
  <div class="logo-container">
    <img alt="Логотип магазина" src="pics/memes/assasini-cappuccini.jpeg" class="logo"/>
    <h1 class="site-title">Два Холма</h1>
  </div>
</header>