<header class="site-header">
    <div class="logo-container">
        <div class="logo">
            <img src="/pics/logo.jpg" alt="Два Холма" />
        </div>
        <h1 class="site-title">Два Холма</h1>
    </div>
    
    {{> menu}}
    
    <div class="auth-container">
        {{> user_session}}
    </div>
</header> 