<header>
    <div class="header-top">
        <div class="container">
            <div class="logo">
                <a href="/">
                    <h1>Два Холма</h1>
                    <p>Экзотические животные</p>
                </a>
            </div>
            <div class="auth-block">
                {{> partials/auth}}
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="container">
            <nav>
                {{> partials/menu}}
            </nav>
        </div>
    </div>
</header> 