<ul class="main-menu">
    <li><a href="/" class="{{#if isActiveHome}}active{{/if}}">Главная</a></li>
    <li><a href="/about" class="{{#if isActiveAbout}}active{{/if}}">О нас</a></li>
    <li><a href="/animals" class="{{#if isActiveAnimals}}active{{/if}}">Животные</a></li>
    <li><a href="/services" class="{{#if isActiveServices}}active{{/if}}">Услуги</a></li>
    <li><a href="/contacts" class="{{#if isActiveContacts}}active{{/if}}">Контакты</a></li>
    <li><a href="/users" class="{{#if isActiveUsers}}active{{/if}}">Пользователи</a></li>
</ul> 