<nav class="main-nav">
    <ul>
        <li><a href="/"><i class="fas fa-home"></i> Главная</a></li>
        <li><a href="/animals"><i class="fas fa-paw"></i> Экзотические животные</a></li>
        <li><a href="/services"><i class="fas fa-concierge-bell"></i> Услуги</a></li>
        <li><a href="/about"><i class="fas fa-info-circle"></i> О нас</a></li>
        <li><a href="/contacts"><i class="fas fa-address-book"></i> Контакты</a></li>
    </ul>
</nav> 