<div class="about-page">
    <h1>О нас</h1>
    <p>Магазин экзотических животных "Два Холма" - это место, где вы можете приобрести редких и необычных питомцев, а также получить консультацию по их содержанию и уходу.</p>
    <div class="about-content">
        <div class="about-section">
            <h2>Наша история</h2>
            <p>Магазин был основан в 2020 году группой энтузиастов, увлеченных экзотическими животными. С тех пор мы стремимся предоставлять нашим клиентам только здоровых животных и качественные услуги.</p>
        </div>
        <div class="about-section">
            <h2>Наша миссия</h2>
            <p>Наша миссия - помочь людям найти идеального экзотического питомца и обеспечить ему достойный уход. Мы стремимся образовывать наших клиентов о правильном содержании экзотических животных.</p>
        </div>
    </div>
</div> 