<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Добавление питомца - Два Холма</title>
  <link href="style.css" rel="stylesheet"/>
  <script src="js%20scripts/main.js" defer></script>
  <script src="js%20scripts/auth.js" defer></script>
  <script src="js%20scripts/addpet.js" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

{{> header}}
{{> navbar}}

<div class="page-banner form-banner">
  <h2>Добавление нового питомца</h2>
  <p>Зарегистрируйте своего экзотического питомца</p>
</div>

<main class="main-section">
  <form action="/storage/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required />
    <button type="submit">Загрузить</button>
  </form>
  <section class="form-section">
    <div class="section-header">
      <h3><i class="fas fa-plus-circle"></i> Новый питомец</h3>
    </div>

    <form id="petForm" class="styled-form">
      <div class="form-group">
        <label for="name"><i class="fas fa-signature"></i> Имя питомца</label>
        <input type="text" name="name" id="name" placeholder="Введите имя питомца" required>
      </div>

      <div class="form-group">
        <label for="type"><i class="fas fa-paw"></i> Тип животного</label>
        <select name="type" id="type" required>
          <option value="" disabled selected>Выберите тип</option>
          <option value="Собака">Собака</option>
          <option value="Кошка">Кошка</option>
          <option value="Пернатый">Пернатый</option>
          <option value="Грызун">Грызун</option>
          <option value="Рептилия">Рептилия</option>
        </select>
      </div>

      <div class="form-buttons">
        <button type="submit" class="primary-button">
          <i class="fas fa-plus"></i> Добавить
        </button>
      </div>
    </form>

    <div id="message" class="notification success" style="display: none;"></div>
  </section>

  <section class="table-section">
    <div class="table-header">
      <h3><i class="fas fa-list"></i> Список ваших питомцев</h3>
    </div>

    <div class="table-container">
      <ul id="petsList" class="pets-list"></ul>

      <div id="emptyPets" class="empty-table-message" style="display: none;">
        <i class="fas fa-paw"></i>
        <p>У вас пока нет питомцев. Используйте форму выше, чтобы добавить питомца.</p>
      </div>
    </div>
  </section>
</main>

<script>
  const userId = "{{user.id}}";
</script>

{{> footer}}
</body>
</html>