<div class="contacts-page">
    <h1>Контакты</h1>
    <p>Свяжитесь с нами для получения дополнительной информации</p>
    <div class="contact-info">
        <div class="contact-item">
            <h3>Адрес</h3>
            <p>г. Санкт-Петербург, ул. Экзотическая, д. 123</p>
        </div>
        <div class="contact-item">
            <h3>Телефон</h3>
            <p>+7 (XXX) XXX-XX-XX</p>
        </div>
        <div class="contact-item">
            <h3>Email</h3>
            <p>info@dvaholma.ru</p>
        </div>
    </div>
</div> 