<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Добавление животного - Два Холма</title>
  <link href="style.css" rel="stylesheet"/>
  <script src="js%20scripts/main.js" defer></script>
  <script src="js%20scripts/forms.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

{{> header}}
{{> session}}
{{> navbar}}

<h1>Добавление услуг</h1>

<form id="serviceForm">
  <input name="name" placeholder="Название" required />
  <input name="description" placeholder="Описание" required />
  <input name="price" type="number" placeholder="Цена" required />
  <button type="submit">Добавить</button>
</form>

<p id="message" style="display: none;"></p>

<ul id="servicesList"></ul>

<script src="Js/services.js"></script>
{{> footer}}
</body>
</html>